__pycache__

# Temporary files
*.swp
.\#*
\#*
*~

# Packaging
MANIFEST
dist/
build/
sdist/
*.egg/
*.egg-info/

# Misc
.coverage
.coverage.*
.eggs/
.mypy_cache/
.nox
.pytype
.vscode/
cov*.xml
docs/_build/
venv
