include README.md
include CHANGES.md
include LICENSE.txt
include MANIFEST.in
include pylint.conf
include pypeline/yaml/CHANGES
include pypeline/yaml/LICENSE
include pypeline/yaml/PKG-INFO
include pypeline/yaml/README

# Examples
recursive-include examples *

# Misc tools
recursive-include misc *.py *.sh *.yaml

# Tests
include tests/run
recursive-include tests/bwa *
recursive-include tests/data *
recursive-include tests/function *
recursive-include tests/unit *
